
<body>

<div class="mainbodyb">
  <div class="index-background">

    <div class="logo">
      <div class="center">
        <h1 class="logo2">Welcome to JobNow</h1>
      </div>
      <div class="comenzar">
        <a href="/login" class="btn btn-info">Go!</a>
      </div>
    </div>
  </div>
</body>
</div>
</html>