<body>
  <div class="mainbodyb">
    <div class="index-background">
      <div class="centrarindex">
        <h1 class="logo">
          Welcome to JobNow
          </h1>
          <div class="ostia"><a href="/login" class="btn btn-info">Comenzar</a></div>
      </div>
    </div>
  </div>
</body>