<img src="/images/header3.jpg" class="img-fluid" alt="Responsive image">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Añadir centro de trabajo</h2>
  </div>
</div>
<form action="/centers/create" method="POST">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputName">Nombre</label>
      <input type="text" class="form-control" id="inputName" name="name">
    </div>
    <div class="form-group  col-md-4">
      <label for="description">Descripción</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group col-md-4">
      <label for="inputUsername">Coordenadas</label>
      <input type="text" class="form-control" id="inputUserame" name="lat">
      <input type="text" class="form-control" id="inputUserame" name="lng">
    </div>
  </div>
  <div class="centrar">
    <button type="submit" class="btn btn-success">Añadir centro</button>
</form>
<a href="/centers/location" class="btn btn-warning">Volver al listado</a>
</div>