<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<img src="/images/movieshead.jpg" class="img-fluid" alt="Responsive image">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Awesome Mongoose Movies...</h2>
    <p class="lead">You wanna know a little bit more, don´t you?</p>
  </div>
</div>

<a href="/movies/new" class="btn btn-warning">"Wanna" add one more movie?</a>

<a href="/centers/create" span class="badge badge-primary badge-pill">Create</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each centers}}
    <tr>
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td><a href="/centers/edit/{{_id}}" span class="badge badge-primary badge-pill">Edit</a></td>
      <td><a href="/centers/delete/{{_id}}" span class="badge badge-primary badge-pill">Delete</a></td>
    </tr>
    {{/each}}
 
  </tbody>
</table>