body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.mainbodyb {
  margin-left: 0px;
}

.mainbody {
  margin-left: 55px;
}
.flex {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.editUser {
  margin-left: 50px;
}
.center {
  margin-top: 40px;
  text-align: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
}
.centrar {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.navguay {
  margin: 0 0;
}
.left {
  width: 50px;
  height: 100%;
  background: #2f2f2f;
  white-space: nowrap;
  transition: width 0.5s;
  position: fixed;
  z-index: 9999;
}
.left ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.left li {
  width: auto;
  height: 60px;
  line-height: 50px;
  padding-left: 18px;
}
.left li:hover {
  background: black;
}
.left:hover {
  width: 250px;
}
.left .item-menu {
  height: 50px;
  overflow: hidden;
  color: #fff;
}
.left a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
span.menu {
  padding-left: 17px;
}


.index-background {
  background-image: url("/images/home3.jpg");
  background-size: cover;
  height: 800px;
}

.left:hover {
  width: 250px;
}

.left .item-menu {
  height: 50px;
  overflow: hidden;
  color: #fff;
}
.left a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
span.menu {
  padding-left: 17px;
}

.cardb {
  border: 0px;
  text-align: center;
}

.centerimg {
  width: 86%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.imgs {
  margin-left: 17px;
  width: 140px;
  height: 140px;
}

.backbtn {
  margin-bottom: 10px;
  margin-left: 50px;
}
