<img src="/images/header3.jpg" class="img-fluid" alt="Responsive image">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Catálogo de Puestos</h2>
    <p class="lead">Relación de puestos de trabajo definidos en la organización:</p>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Denominación del Puesto</th>
      <th scope="col">Area</th>
      <th scope="col">Colectivo</th>
    </tr>
  </thead>
  <tbody>
    {{#each dpt}}
    <tr>
      <td>{{Denom}}</td>
      <td>{{Area}}</td>
      <td>{{Colectivo}}</td>
       <td><a href="/dpt/{{_id}}" span class="badge badge-primary badge-pill"><i class="fal fa-eye"></i></a></td>
    </tr>
    {{/each}}
 

  </tbody>
</table>
<div class="centrar">
<a href="/dpt/new" class=" btn btn-warning center">Añadir nueva DPT</a>
</div>






